@page
@model Dashboardscrum.Pages.Student.IndexModel
@using Dashboardscrum.Repositories;
@inject UserRepository _userRepository
@{
    var loggedIn = _userRepository.IsUserLoggedIn();
}
@if (loggedIn){
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/Student/StudentStandup" class="Button">Standup</a>
                <button type="submit" class="btn btn-primary">Vraag om hulp</button>

            </div>
        </div>
     </div>

}
else
{
    <p>Klik hier om in te loggen <a href="https://localhost:44362/Login"></a>.</p>
}