@page
@model Dashboardscrum.Pages.Student.StudentStandupModel
@{
}

<h1>Standup<h1>
<div class="Container">
    <div class="row">
        <div class="col-md">
            <form method="post"  asp-page-handler="StudentStandup">
                <input type="hidden"/>
                <div class="form-group">
                    <label asp-for="_Standup!.Gisteren"></label>
                    <input asp-for="_Standup!.Gisteren" type="text" class="form-control" placeholder="Vul in wat je gisteren hebt gedaan">
                </div>
                <input type="hidden" />
                <div class="form-group">
                    <label asp-for="_Standup!.Vandaag"></label>
                    <input asp-for="_Standup!.Vandaag" type="text" class="form-control" placeholder="Vul in wat je vandaag hebt gedaan">    
                </div>
                 <div class="form-group">
                     <button type="submit" class="btn btn-primary">Upload Standup</button>
                 </div>
            </form>
        </div>
    </div>
</div>
