@model List<Models.MeldingsPunt> 

<div>
  @foreach(Models.MeldingsPunt meldingspunt in Model)
  {
     <div>
         name:   @meldingspunt.Name;  
         uuid:   @meldingspunt.UuId; 
         userid: @meldingspunt.UserId;
     </div> 
      <br/>
  }
</div>
